<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="checkout:Production" value="true"/>
    <add key="Test:Production" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="Test:TheDatabase" connectionString="Some connectionstring"/>
    <add name="checkout:TheDatabase" connectionString="Some connectionstring"/>
  </connectionStrings>
</configuration>
